{{#if sidebarimg.totalprod}}
<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i>Productos</h5>
    </div>
    <div class="card-body">
<!--        <p><i class="fas fa-images"></i> imagenes : {{sidebar.stats.images}}</p> -->
        <p><i class="fa-brands fa-product-hunt fa-spin fa-lg"></i> Productos : {{sidebarimg.totalprod}}</p>
        <p><i class="fas fa-comments"></i> Comentarios : {{sidebarimg.totalcomm}}</p>
        <p><i class="fas fa-eye"></i> Vistas : {{sidebarimg.views}}</p>
        <p><i class="fas fa-heart"></i> Likes : {{sidebarimg.likes}}</p>                
    </div>
</div>
{{/if}}