<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i>Negocios11</h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-images"></i> Negocios : {{sidebar.stats.images}}</p>
<!--        <p><i class="fas fa-comments"></i> Productos : {{sidebar.stats.totalprod}}</p> -->
        <p><i class="fas fa-eye"></i> Vistas : {{sidebar.stats.views}}</p>
        <p><i class="fas fa-heart"></i> Likes : {{sidebar.stats.likes}}</p>
        <p><i class="fas fa-comments"></i> Comentarios : {{sidebar.stats.comments}}</p>
    </div>
</div>