{{#if sidebargall.statsgall.galleries}}
<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i>Galerias Comerciales</h5>
    </div>
    <div class="card-body">

        <p><i class="fas fa-images"></i> Galerias : {{sidebargall.statsgall.galleries}}</p>
<!--        <p><i class="fas fa-comments"></i> Productos : {{sidebar.stats.totalprod}}</p> -->
        <p><i class="fas fa-eye"></i> Visitas : {{sidebargall.statsgall.viewsgall}}</p>
        <p><i class="fas fa-heart"></i> Likes : {{sidebargall.statsgall.likesgall}}</p>
        <p><i class="fas fa-comments"></i> Comentarios : {{sidebar.comments}}</p>
    </div>
</div>
{{/if}}